.navbar {
  background-color: tomato;
  text-align: center;
  font-weight: bold;
}
.navbar a {
  padding: 0.5em 0;
  width: 10em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: black;
  color: white !important;
}

.navbar a.active {
  font-weight: bold;
  color: black;
}
